[settings]
# Package groups;
known_first_party = FIRSTPARTY, pyheritage
known_third_party = pydantic
known_local_folder = LOCALFOLDER

# Import sections and their order;
sections = FUTURE, STDLIB, THIRDPARTY, FIRSTPARTY, LOCALFOLDER

# Main parameters;
profile = django
py_version = 311
multi_line_output = 3
use_parentheses = True
line_length = 120
ensure_newline_before_comments = True

# After-import formatting;
lines_after_imports = 2

# Sorting behavior;
length_sort = False
order_by_type = False

# Paths considered first-party modules;
src_paths = isort, test

# Files and folders to skip;
skip = .gitignore, .venv, venv

# Additional useful settings;
include_trailing_comma = True
force_grid_wrap = 0
combine_as_imports = True
